@import "tailwindcss";

:root {
  --background: #ffe4e6; /* Soft pink */
  --foreground: #4c0519; /* Rose 950 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dancing: var(--font-dancing-script);
}

body {
  background: linear-gradient(
    to bottom right,
    #ffe4e6,
    #f3e8ff
  ); /* Pink to Lavender */
  color: var(--foreground);
  font-family: var(--font-dancing), cursive;
  min-height: 100vh;
}
